.baseDiv{
        width: 60%;
        margin-bottom:3%;
        padding:5px;
}

.childDiv{
        width: 60%;
        margin-bottom:3%;
        padding:5px;
}

.radioCheck label{
        margin-right: 20px;
}
