.baseDiv{
        border: 1px solid black;
        width: 60%;
        margin-bottom:3%;
        padding:5px;
}

.childDiv{
        border: 1px solid red;
        width: 60%;
        margin-bottom:3%;
        padding:5px;
}